.my-drop-zone {
    border: dotted 3px lightgray;
    width: 100%;
    height: 160px;
    text-align: center;
    line-height: 160px;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

.full-width-field {
    width: 100%;
}

table {
    width: 100%;
}
